body{
    font-family: 'Arial', sans-serif;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.navbar {
    background-color: #333;
    padding: 15px;
    position: fixed;
    border-radius: 10px;
    width: 96%;
    top: 0;
    z-index: 1000;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 20px;
  }
  
  .navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-list li {
    margin-right: 20px;
  }
  
  .navbar-list a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  } 
  
  .menu-icon {
    display: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
  
  .content {
    margin-top: 80px; /* Adjust this margin based on your header height */
  }
  
  @media only screen and (max-width: 768px) {
    .navbar-list {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px; /* Adjust this value based on your header height */
      left: 0;
      background-color: #333;
      width: 100%;
    }
  
    .navbar-list.show {
      display: flex;
    }
  
    .navbar-list li {
      margin: 0;
      padding: 15px;
      text-align: center;
    }
  
    .menu-icon {
      display: block;
    }
  }
  
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.text {
    width: 100%;
    max-width: 600px;
    margin: 25px auto;
    margin-right: 75px;
    animation: fadeIn 2s ease;
}
.text  h1{
  font-size: 40px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: pblack;
}

.text p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
    word-spacing: 10px;
    
}

.image-slider {
    width: 50%;
    overflow: hidden;
}

.image-slider img{
    width: 500px;
    display: flex;
    height: 500px;
    border: 15px solid orange;
    border-radius: 25px;
    margin-right: 25px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#services {
  padding: 30px 0;
  background-color: lightgray;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  color: #fff;
}

.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 15px;
  font-weight: 300;
  border-right: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  color: skyblue;
  

}

.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover {
  background-color: #ff004f;
  transform: translate(10px);
}


@media only screen and (max-width: 769px) {
  
  .content {
      margin-top: 50px;
      padding: 10px;
  }

  .text {
      margin-right: 10px;
  }

  .text h1 {
      font-size: 30px;
  }

  .text p {
      font-size: 20px;
  }

  .image-slider {
      width: 100%;
  }

  .image-slider img {
      width: 100%;
      height: auto;
      margin-right: 0;
  }

  .services-list {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 20px;
      margin-top: 30px;
  }

  .services-list div {
      padding: 20px;
      font-size: 14px;
  }
}