* {
    margin-top: 0px;
    padding: 0px;
  }

  body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }

  .container {
    background: linear-gradient(0deg, rgb(63, 87, 138) 0%,rgb(132, 175, 202) 35%, rgb(4, 60, 62) 100%); 
 }  
 
  
  .navbar {
    background-color: #333;
    padding: 15px;
    position: fixed;
    border-radius: 10px;
    width: 96%;
    top: 0;
     z-index: 1000; 
    display: flex;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 20px;
  }
  
  .navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-list li {
    margin-right: 20px;
  }
  
  .navbar-list a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  
  .menu-icon {
    display: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
  
  .content {
    margin-top: 80px; /* Adjust this margin based on your header height */
  }
  
  @media only screen and (max-width: 768px) {
    .navbar-list {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px; /* Adjust this value based on your header height */
      left: 0;
      background-color: #333;
      width: 100%;
    }
  
    .navbar-list.show {
      display: flex;
    }
  
    .navbar-list li {
      margin: 0;
      padding: 15px;
      text-align: center;
    }
  
    .menu-icon {
      display: block;
    }
  }

.heading {
    justify-content: center;
    text-align: center; 
    padding-top: 70px;
}

.heading h1{
     font-size: 5em;
     
}

.info {
  padding-left: 1%;
  background-color: transparent;
    color: rgb(223, 188, 74);
    
} 
  
 .text {
    font-size: 1.5rem;
    font-family: monospace;
    border-right: 2px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(53),
        cursor .4s step-end infinite alternate;
} 

 /* cursor blinking */ 
  @keyframes cursor {
    50% { border-color: transparent }
}  

 /* typing effect */
 @keyframes typing {
    from { width: 0 }
}
  
.main{
  justify-content: center;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.content {
  padding-top: 0%;
  margin-top: 0%;
}

  .cards {
    border-radius: 5px;
    margin: 40px;   
    box-shadow: 2px 2px 10px black;
    opacity: 0.9;
    transition: transform 0.6s ease;
    background: linear-gradient(110.3deg, rgb(187, 167, 218) 8.7%, rgb(112, 100, 207) 47.5%, rgb(79, 11, 236) 89.1%);
  }

  .cards:hover {
    opacity: 1;
    transform: scale(1.07);
  }
  
  @keyframes fade-inout{
    0%{ opacity: 0;}
    100% {opacity: 0.8;}
  }

  .cards {
    animation: fade-inout 5s;
  }
  .image img {
    padding-top:0% !important;
    width: 100%;  
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .title {
    padding-top: 5%;
    text-align: center;
  }

  .ref {
    text-decoration: none;
    color: black;
  }

  .des {
    text-align: center;
    padding: 4px;
  }
  
  .read {
    color: black;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 5px;
    float: right;
  }

  .read:hover {
     transition: .5s;
     cursor: pointer;
  }

  @media screen and (max-width: 800px) {
     .heading h1{
      font-size: 80px;
    } 
    .text {
      font-size: 20px;
    }
    .main {
      grid-template-columns: repeat(2, 1fr);
    }  
  } 
  @media screen and (max-width: 600px) {
     .heading h1{
      font-size: 50px;
    } 
    .text {
      font-size: 12px;
    }
    .main{
      grid-template-columns: 1fr;
    }
  } 