* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Crimson Text", serif;
  overflow-x: hidden;
}

.container-class {
  background: linear-gradient(0deg, #fc863c 0%, #fd914e 40%, #fc995c 100%);
  /* min-width: fit-content;
    height: 800px; */
  min-height: 100vh;
  width: 100%;
}

.content {
  margin-top: 60px;
  /* Adjust this margin based on your header height */
}

.heading {
  justify-content: center;
  text-align: center;
  padding-top: 70px;
}

.heading h1 {
  font-size: 3.8em;
  text-transform: uppercase;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  font-family: "Crimson Text", serif;
}

.info {
  padding-left: 1%;
  background-color: transparent;
  /* color: rgb(223, 188, 74); */

}

.text {
  font-size: 1.5rem;
  border-right: 2px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation:
    typing 2s steps(53),
    cursor .4s step-end infinite alternate;
}

/* cursor blinking */
@keyframes cursor {
  50% {
    border-color: transparent
  }
}

/* typing effect */
@keyframes typing {
  from {
    width: 0
  }
}

.main {
  width: 100%;
  padding: 30px 40px;
  justify-content: center;
  /* display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 20px; */
  display: flex;
  /* flex-wrap: wrap; */
  /* gap: 40px; */
  align-items: center;
  justify-content: space-evenly;
}

.content {
  padding-top: 0%;
  margin-top: 0%;
  font-family: "Crimson Text", serif;
}

.cards {
  border-radius: 5px;
  margin: 20px;
  box-shadow: 2px 2px 10px black;
  opacity: 0.9;
  transition: transform 0.6s ease;
  /* background: linear-gradient(110.3deg, #FFA07A 8.7%, #FF7F50 47.5%, #FF6347 89.1%); */
  background-color: #fff;
  width: 25%;
  height: 500px;
}

.cards:hover {
  opacity: 1;
  transform: scale(1.04);
}

@keyframes fade-inout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cards {
  animation: fade-inout 4s;
}

.image img {
  padding-top: 0% !important;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
  object-fit: cover;
}

.title {
  padding-top: 5%;
  text-align: center;
  padding-left: 11px;
  padding-right: 11px;
}

.title h2 {
  font-size: 25px;
}

.ref {
  text-decoration: none;
  color: black;
}

.des {
  text-align: center;
  padding: 5px 25px 0 25px;
  /* padding-top: 5px; */
  /* height: 80px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.des p {
  text-align: justify;
  color: black;
  font-size: 16.8px;
  font-weight: 490;
  line-height: 1.6rem;
  /* margin-bottom: 1%; */
}
.des a{
  margin-left: 2%;
}
.read {
  color: black;
  /* margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  float: inline-end;   */
}

.read:hover {
  transition: .5s;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .heading h1 {
    font-size: 80px;
  }

  .text {
    font-size: 20px;
  }

  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .heading h1 {
    font-size: 50px;
  }

  .text {
    font-size: 12px;
  }

  .main {
    grid-template-columns: 1fr;
  }
}