@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}   


.newsletter1{
    margin-left: 200px;
    padding: 40px;
}
.title{
    padding-top: 40px;
    font-size: 45px;
    text-align: center;     
}
.p1, .p2, .p3, .p4, .p5, .lastp{
    padding-top: 50px;
    font-size: 20px;
}

.contents{
    z-index: 9;
    position: fixed;
    margin-top: 70px;
    padding-left: 10px;
    padding-top: 20px;
    width: 200px;    
    height: 100%; 
    border-width: 2px;
    border-color: var(--main-color-yellow);
    background-color: #f0b81e97;
}
.contents ul{
    margin-left: 15px;
}
.contents a{
    color: black;
}
.contents h2{
    text-align: center;
    font-size: x-large;
    padding-bottom: 20px;
}
.contents li{
    padding-left: 5px;
    padding-top: 20px;
    font-size: 15px;
}
.contents a{
    color: black;
}
.contents a:hover{
    color: blue;
    font-style: oblique;
}
p b{
    font-size: 25px;
}
.list2, .list3{
    position: relative;
    padding-left: 50px;
    padding-top: 20px;
    font-size: large;
}
.list2 li{
    padding: 5px;
}
.list3 li{
    padding: 5px;
}

.lastp li{
    padding-left: 15px;
    padding-top: 30px;
}

.lastp b{
    font-size: 25px;
    font-style: bold;
}

.lastL{
    text-align: center;
    color: var(--main-color-yellow);
    font-size: x-large;
}

footer{
    margin-left: 200px;
}

@media (max-width: 480px){
    .contents{
        display: none;
    }

    .newsletter1{
        margin: 0;
    }
  }