.s1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s1 h2{
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-size: 60px;
    padding-bottom: 40px;
    color: black;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
.slider{
    border-radius: 8px;
    width: 1209px;
    max-width: 100vw;
    height: 547px;
    margin: auto;
    position: relative;
    overflow: hidden;
    box-shadow: 4px 10px 12px rgba(5, 3, 10, 0.5);
}
.slider .list{
    position: absolute;
    /* width: max-content; */
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    border-radius: 8px;
    width: 1215px;
    max-width: 100vw;
    height: 89vh;
    /* object-fit: contain; */
    background-size: contain;
}
.slider .buttons{
    position: absolute;
    top: 48%;
    left: 1%;
    width: 98%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom:19px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}



@media screen and (max-width: 1306px){
    .slider{
        width: 90%;
        height: 420px;
    }
    .slider .list img {
        border-radius: 8px;
        width: 90vw;
        /* max-width: 100vw; */
        height: 69vh;
        /* object-fit: contain; */
        background-size: contain;
    }
    /* .slider .list img{
        width: 320px;
        height: fit-content;
    } */
    .slider .dots {
        bottom: 1%;
    }
    
}
@media screen and (max-width: 600px){
    .slider{
        width: 90vw;
        height: 40vh;
    }
    .slider .list img {
        border-radius: 8px;
        width: 90vw;
        /* max-width: 100vw; */
        height: 40vh;
        /* object-fit: contain; */
        background-size: contain;
    }
    .slider .dots li{
        display: none;
    }
    .slider .buttons button{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .s1 h2{
      font-size: 40px;
      padding-bottom: 3%;
    }
}