* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.events-page {
    min-height: 100vh;
    width: 100%;
    padding: 25px;
    padding-top: 0;
    background-image: linear-gradient(to bottom, #ed966bde, #f17a3f);
}

.events-page h1 {
    text-align: center;
    font-size: 4.5rem;
    padding-top: 70px;
    font-weight: 800;
    color: #000;
    font-family: "Crimson Text", serif;
    filter: drop-shadow(0.045em 0.045em 0.025em hsl(0, 0%, 43%));
}

.events-page .part1 {
    width: 60%;
    height: 50vh;
    background-color: #333333;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.events-page .part1 h3 {
    font-size: 34px;
    color: black;
    font-family: "Crimson Text", serif;
}

.h-underline {
    width: 9%;
    height: 5px;
    background-color: #2f2c277e;
    margin: 0 auto;
}
/* 
.part2 {
    padding-block: 4rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.card-content {
    margin-inline: 1.75rem;
    border-radius: 0.7rem;
    overflow: hidden;
    height: 40vh;
    width: 100%;

}

.card-article {
    width: 500px;
    border-radius: 0.7rem;
    overflow: hidden;
    background-color: #000;
}

.card-image {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: #333333;
    /* padding-top: 1.5rem; 
    margin-bottom: -0.75rem;
}

.card-image img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
}

.card-image img:hover {
    transform: scale(1.09);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}

.swiper-button-prev,
.swiper-button-next {
    width: initial;
    height: initial;
    font-size: 3rem;
    color: black;
    display: none;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-pagination-bullet {
    background-color: hsl(212, 32%, 40%);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: blue;
} */


.part3 {
    padding-block: 5rem;
    padding-top: 0px;
}

.part3 h1 {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bolder;
    /* margin-top: 50px; */
    color: #000;
    letter-spacing: 0.1rem;
}

.events-page hr, .part3 hr {
    width: 90px;
    height: 3px;
    margin-inline: auto;
    background-color: #ffffff;
    border: none;
    margin-top: 0.25rem;
}

.event-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px 50px;
    padding: 100px 50px;
}

.event-container .event-card {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 350px;
    height: 450px;
    background-image: linear-gradient(45deg, #a3a3a3, #2f2c27);
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.466);
    transition: 0.8s;
}

.event-container .event-card:hover {
    height: 400px;
}

.event-container .event-card .img-box {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.8s;
}

.event-container .event-card:hover .img-box{
    top: -165px;
    scale: 0.69;
    box-shadow: 0 15px 45px rgba(0,0,0,0.2);
}

.event-container .event-card .img-box img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-container .event-card .event-content {
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0 15px;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: 0.8s;
    color: #000;
}

.event-container .event-card:hover .event-content {
    top: 110px;
    height: 350px;
}

.event-container .event-card .event-content h2 {
    color: black;
    font-family: "Crimson Text", serif;
}

.event-container .event-card .event-content p {
    color:black;
    font-size: 14px;
    font-weight: 450;
    letter-spacing: 0rem;
    font-family: "Crimson Text", serif;
}

.event-container .event-card .event-content a {
    text-decoration: none;
    color: white;
    position: relative;
    top: 8px;
    display: inline-block;
    padding: 12px 25px;
    background-color: #333333;
    border-radius: 9px;
    /* font-size: 5px; */
}


/* RESPONSIVE */
@media screen and (min-width: 768px) {
    .card-content {
        margin-inline: 3rem;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
    }
}

@media screen and (min-width: 1120px) {
    .part2 {
        max-width: 1120px;
    }


    .swiper-button-prev {
        left: -1rem;
    }

    .swiper-button-next {
        right: -1rem;
    }
}