.s1 h2{
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-size: 60px;
    padding-bottom: 40px;
    color: black;
    margin-left: 40%;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
.slider{
    border-radius: 8px;
    width: 1209px;
    max-width: 100vw;
    height: 547px;
    margin: auto;
    position: relative;
    overflow: hidden;
    box-shadow: 4px 10px 12px rgba(5, 3, 10, 0.5);
}
.slider .list{
    position: absolute;
    /* width: max-content; */
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    border-radius: 8px;
    width: 1215px;
    max-width: 100vw;
    height: 75%;
    /* object-fit: contain; */
    background-size: contain;
}
.slider .buttons{
    position: absolute;
    top: 48%;
    left: 1%;
    width: 98%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom:19px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}

@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}