#footer {
    width: 100%;
    background: #000;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
}
#footer .footer-top {
    background: #141414;
    padding: 76px 0 30px 0;
}
#footer .footer-top .footer-info {
    margin-bottom: 30px;
}
#footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 10px;
    line-height: 1;
    font-family: "Montserrat", sans-serif; 
    font-weight: bolder !important;
    letter-spacing: 3px;
    border-left: 4px solid #d25918;
    padding-right: 34px;
}
#footer .footer-top .footer-links {
    margin-bottom: 30px;
}
#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}
/*h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
} */
#footer .footer-top h4::before {
    right: 0;
    background: #555;
}
#footer .footer-top h4::before, #footer .footer-top h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
}
#footer .footer-top h4::after {
    background: #d25918;
    width: 60px;
}
#footer .footer-top h4::before, #footer .footer-top h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
}
#footer .footer-top .col-lg-3 a ,p{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.8;
}
#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.ion-ios-arrow-right:before {
    content: "> ";
}
#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}
#footer .footer-top .footer-links ul li {
    border-bottom: 1px solid #333;
    padding: 10px 0;
}
#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-top .footer-contact {
    margin-bottom: 30px;
    margin-left: 123px;
}
#footer .footer-top .social-links a {
    font-size: bolder;
    display: inline-block;
    background: #333;
    color: #eee;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
#footer .footer-top .footer-links ul li a:hover{
    color: #d25918;
}
.col-lg-3 img{
    width: 145px;
    height: 43px;
    margin-bottom:15px;   
    margin-left: 0px; 
}