@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background-color: rgb(20, 0, 49);
    width: 100%;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    padding-bottom: 25px;
    padding-top: 3px;
    box-shadow: 22px 6px 24px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #ffffffdd;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container .card .content{
    padding: 0px 0px 0px 0px;
    text-align: center;
    /* transform: translateY(84px); */
    transform: translateY(-61px);
    opacity: 0;
    transition: all 0.5s ease 0s;
}

/* .container .card:hover .content{
    transform: translateY(-61px);
    opacity: 1;
} */
.container .card .content h3
{
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-size: 25px;
    padding: 0px 5px 5px 5px;
    margin-top: 25px;
    color: rgb(49, 48, 48);
    z-index: 1;
    margin-bottom: 7px;
}

.container .card .content a{
    position: relative;
    display: inline-block; 
    padding: 8px 20px;
    bottom: -20px;
    background-color: rgba(34, 33, 33, 0.896);
    color: rgba(255, 255, 255, 0.939);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.content a:hover{
    transform: translateY(-3px);
    background-color: rgb(11, 10, 10);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.866);
}