  body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  .h{
    color: rgb(250, 198, 252);
  }
  .navbar {
    background-color: #333;
    padding: 15px;
    position: fixed;
    width: 100%;
    height: 62px;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 20px;
  }
  .navbar-logo img {
    width: 145px;
    height: 43px;
    margin-left: 60px;
  }
  .navbar-list {
    list-style: none;
    margin-top: 10px;
    margin-right: 10px;
    padding: 0;
    display: flex;
  }
  
  .navbar-list li {
    margin-right: 20px;
  }
  
  .navbar-list a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  
  .menu-icon {
    z-index: 1;
    display: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    .navbar-list {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px; /* Adjust this value based on your header height */
      left: 0;
      background-color: #333;
      width: 100%;
    }
  
    .navbar-list.show {
      display: flex;
    }
  
    .navbar-list li {
      margin: 0;
      padding: 15px;
      text-align: center;
    }
  
    .menu-icon {
      display: block;
    }
  }
  
