*{
    margin: 0px;
    padding: 0px;
    font-family: math;
}
.glow-text {
	text-align: center;
	margin-top: 100px;
}

.glow-text h1 {
	font-size: 7rem;
	color: #fff;
	text-shadow: 0 0 10px #b700ff, 0 0 20px #b700ff, 0 0 30px #ff00de, 0 0 40px #ff00de;
	animation: glow 2s ease-in-out infinite;
}


body{    
    
    /* background-image: linear-gradient(to bottom, #000768de, #dbc2f0e0); */
    background-image: url(../../images/4days_events_images/bg.jpg);
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
   
    /* background-repeat: no-repeat; */
    /* background-size: 204% 204%; */
    overflow-x: hidden;
}
.container-events{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    color: #fff;
}
.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1){
    animation-delay: 1s;
}
.container:nth-child(2){
    animation-delay: 2s;
}
.container:nth-child(3){
    animation-delay: 3s;
}
.container:nth-child(4){
    animation-delay: 5s;
}

.text-box{
    box-shadow: 0 0 10px 5px #b700ff;
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.788);
    /* box-shadow: 2px 7px 14px rgba(0, 0, 0, 0.6); */
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.left-container{
    left: -100px;
}
.left-container h2, .left-container h5{
    text-align: right;
}
.left-container p,.right-container p{
    text-align: justify;
}
.right-container{
    left: 50%;
}
.container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}
.right-container img{
    left: -20px;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background: rgba(0, 0, 0, 0.609);
    box-shadow: -5px 8px 45px rgba(51, 51, 51, 4);
    top: 0;
    left: 50%;
    border-radius: 5px;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}
@keyframes moveline{
    0%{
        height:0;
    }
    100%{
        height: 100%;
    }
}

.text-box h2{
    font-weight: 600;
    color: #fff;
}

/* .left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgba(0, 0, 0, 0.609); 
    box-shadow: -5px 8px 45px rgba(51, 51, 51, 4);
    right: -14px;
} */
/* .right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgba(0, 0, 0, 0.609);
    box-shadow: -5px 8px 45px rgba(51, 51, 51, 4);
    left: -14px;
} */
.table{
    color: #fff;
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-table {
    border-collapse: collapse;
    font-size: 1em;
    width: 60%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.87);
    opacity: 0.9;
}
tbody{
    /* color: black; */
}
.content-table thead tr {
    background: black;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    font-size: 17px;
    padding: 24px 17px;
    text-align: center;
}

.content-table tbody tr {
    font-weight: bold;
}

.content-table tbody tr:nth-of-type(odd) {
    background-color: #b700ff39;
}
.table{
    margin-left: auto; 
    margin-right: auto; 
    font-size: 20px; 
    height: 100%; 
    table-layout: fixed;
    width: 100%;
}
.content-table tbody tr:nth-of-type(even) {
    background-color: #0f000c84;
}

.content-table button{
    width: auto;
    margin: 0 5% 0 5%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.889);
    box-shadow: -3px 5px 8px rgba(0, 0, 0, 0.491);
    border-radius: 8px;
    padding: 6% ;
    transition: 0.5s ease-in-out;
}
.content-table button:hover{
    background-color: black;
    transform: translateY(-5px);
    box-shadow: -3px 5px 8px rgba(0, 0, 0, 0.8);
}
.content-table td img{
    min-width: 33px;
}
.sponsors{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the items horizontally */
    align-items: center;
}
.sponsors-logo{
    flex: 0 0 48%;
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.sponsors-logo img{
    width: 50%;
    height: 100%;
    filter: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px #b700ff;
}
.sponsors-logo-yami{
    width: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
.sponsors-logo-yami img{
    width: 80%;
    height: 80%;
    filter: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px #b700ff;
}
.sponsors h1 {
	font-size: 7rem;
	color: #fff;
	text-shadow: 0 0 10px #b700ff, 0 0 20px #b700ff, 0 0 30px #ff00de, 0 0 40px #ff00de;
	animation: glow 2s ease-in-out infinite;
    margin-bottom: 5%;
}

@media screen and (max-width: 1354px){
    body{
        margin-left: 10%;
    }
    .glow-text{
        font-size: 5rem;
    }
    .content-table {
        border-collapse: collapse;
        margin: 2% 0 2% 2%;
        font-size: 1em;
        min-width: 80%;
        border-radius: 5px 5px 5px 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
    .content-table th, .content-table td {
        padding: 24px 28px;
    }
    .sponsors h1{
        margin-top: 10%;
        font-size: 6rem;
    }
}

@media screen and (max-width: 600px){
    body{
        margin-left: 2%;
        height: 900px;
    }
    .glow-text h1 {
        font-size: 40px;
        margin-left: 20%;
    }
    .glow-text{
        font-size: 3rem;
    }
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 20px;
    }
    .text-box{
        font-size: 13px;
        box-shadow: -3px 5px 8px rgba(0, 0, 0, 0.4);
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0;
    }
    .left-container{
        left: 0.8%;
    }
    .left-container img,.right-container img{
        left: 10px;
    }
    .left-container h2, .left-container h5{
        text-align: left;
    }
    .left-container p,.right-container p{
        text-align: justify;
    }
    .content-table td img{
        min-width: 33px;
    }
    .content-table{
        margin: 2% 0 2% 15%;
        width: 100%;
    }
    .content-table th,
    .content-table td {
        padding: 24px 17px;
}
.sponsors{
    margin-left: 26%;
}
.sponsors-logo{
    flex: 0 0 50%;
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.sponsors h1{
    font-size: 40px;
}
.sponsors-logo{
    width: 100%;
    margin-bottom: 10%;
}
.sponsors-logo img{
    width: 140%;
}
.sponsors-logo-yami{
    width: 94%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.sponsors-logo-yami img{
    width: 114%;
}

}
@media screen and (max-width: 455px){
    .glow-text{
        font-size: 2rem;
    }
    .content-table th,
    .content-table td {
        padding: 24px 17px;
}
.content-table{
    margin: 2% 0 2% 28%;
    width: 100%;
}
}
